/*
*
* TYPOGRAPHY
*
* Sets variables for standard typography settings (font
* family, size, line height, etc).
*
*/

/*
* VARIABLES
*/
:root {
  /* Font families */
  --font-sans: system-ui, sans-serif;
  --font-serif:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  --font-mono:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Consolas", "Courier New", monospace;

  /* Font sizing */
  /* @link https://utopia.fyi/type/calculator/?c=320,17,1.2,1240,19,1.2,8,0,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */
  /* Note: Scale from 0 - 8 is a 1.2 ratio ("Minor Third"). Steps below 0 do not follow the same scale */

  /* Step -3: 13px → 14px */
  --font-size--3: clamp(0.8125rem, 0.7795rem + 0.1567vw, 0.875rem);
  /* Step -2: 14.4px → 16px */
  --font-size--2: clamp(0.9rem, 0.8652rem + 0.1739vw, 1rem);
  /* Step -1: 16.216px → 17px */
  --font-size--1: clamp(1.0135rem, 0.9743rem + 0.1959vw, 1.0625rem);
  /* Step 0: 17px → 19px */
  --font-size-0: clamp(1.0625rem, 1.019rem + 0.2174vw, 1.1875rem);
  --font-size-default: var(--font-size-0);
  /* Step 1: 20.4px → 22.8px */
  --font-size-1: clamp(1.275rem, 1.2228rem + 0.2609vw, 1.425rem);
  /* Step 2: 24.48px → 27.36px */
  --font-size-2: clamp(1.53rem, 1.4674rem + 0.313vw, 1.71rem);
  /* Step 3: 29.376px → 32.832px */
  --font-size-3: clamp(1.836rem, 1.7609rem + 0.3757vw, 2.052rem);
  /* Step 4: 35.2512px → 39.3984px */
  --font-size-4: clamp(2.2032rem, 2.113rem + 0.4508vw, 2.4624rem);
  /* Step 5: 42.3014px → 47.2781px */
  --font-size-5: clamp(2.6438rem, 2.5357rem + 0.5409vw, 2.9549rem);
  /* Step 6: 50.7617px → 56.7337px */
  --font-size-6: clamp(3.1726rem, 3.0428rem + 0.6491vw, 3.5459rem);
  /* Step 7: 60.9141px → 68.0804px */
  --font-size-7: clamp(3.8071rem, 3.6513rem + 0.779vw, 4.255rem);
  /* Step 8: 73.0969px → 81.6965px */
  --font-size-8: clamp(4.5686rem, 4.3816rem + 0.9347vw, 5.106rem);

  /* Line height */
  --line-height-none: 1;
  --line-height-s: 1.2;
  --line-height-m: 1.6;
  --line-height-default: var(--line-height-m);
  --line-height-l: 2;
}
